#content {
  /*-============================= Section total-cashback - end =============================-*/
}
#content.partnership-cashback {
  color: #333;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  /*-============================= Section how-works - start =============================-*/
  /*-============================= Section how-works - end =============================-*/
  /*-============================= Section how-get - start =============================-*/
  /*-============================= Section how-get - end =============================-*/
  /*-============================= Section cashback-percent - start =============================-*/
  /*-============================= Section cashback-percent - end =============================-*/
  /*-============================= Section no-cashback - start =============================-*/
  /*-============================= Section no-cashback - end =============================-*/
  /*-============================= Section how-to-pin - start =============================-*/
  /*-============================= Section how-to-pin - end =============================-*/
  /*-============================= Section total-cashback - start =============================-*/
}
#content.partnership-cashback *,
#content.partnership-cashback *::before,
#content.partnership-cashback *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#content.partnership-cashback img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#content.partnership-cashback a {
  text-decoration: none;
}
#content.partnership-cashback a,
#content.partnership-cashback button {
  transition: all 0.2s ease;
}
#content.partnership-cashback a {
  color: #3B5998;
  text-decoration: underline;
  opacity: 1;
}
#content.partnership-cashback a:hover {
  opacity: 0.5;
}
#content.partnership-cashback button {
  border: 0;
  background-color: unset;
}
#content.partnership-cashback section {
  scroll-margin-top: 30px;
}
#content.partnership-cashback .title h1,
#content.partnership-cashback .title h2 {
  color: #333;
  font-weight: 400;
  font-size: 1.6875rem;
  line-height: 2.8125rem;
  text-transform: uppercase;
  margin-bottom: 39px;
}
#content.partnership-cashback .title h1.h-title,
#content.partnership-cashback .title h2.h-title {
  position: relative;
}
#content.partnership-cashback .title h1.h-title::before,
#content.partnership-cashback .title h2.h-title::before {
  content: "";
  width: 74px;
  height: 117px;
  background-image: url(../images/q-icon.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
#content.partnership-cashback .scroll-nav {
  margin-bottom: 50px;
}
#content.partnership-cashback .scroll-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
#content.partnership-cashback .scroll-nav ul li {
  list-style: none;
  background-color: #ECECEC;
  padding: 12px 21px;
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s ease;
}
#content.partnership-cashback .scroll-nav ul li .scroll-link {
  color: #333;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
}
#content.partnership-cashback .scroll-nav ul li:hover {
  background-color: #3B5998;
  cursor: pointer;
}
#content.partnership-cashback .scroll-nav ul li:hover .scroll-link {
  color: #fff;
  opacity: 1;
}
#content.partnership-cashback .title h1 {
  color: #333;
  font-size: 1.6875rem;
  line-height: 2.8125rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 39px;
}
#content.partnership-cashback .title h1.h-title {
  position: relative;
}
#content.partnership-cashback .title h1.h-title::before {
  content: "";
  width: 74px;
  height: 117px;
  background-image: url(../images/q-icon.svg);
  background-size: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#content.partnership-cashback .check-items ul li {
  list-style: none;
  margin-bottom: 23px;
  position: relative;
  padding: 0 6px 0 47px;
}
#content.partnership-cashback .check-items ul li::before {
  content: "";
  width: 37px;
  height: 39px;
  background-image: url(../images/list-marker.svg);
  position: absolute;
  top: 2px;
  left: 0;
}
#content.partnership-cashback .check-items ul li span {
  display: inline-block;
  font-size: 0.8125rem;
  padding-right: 6px;
}
#content.partnership-cashback .how-works {
  margin-bottom: 79px;
}
#content.partnership-cashback .how-works .icon-blocks {
  color: #333;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 26px;
}
#content.partnership-cashback .how-works .icon-blocks .icon-block {
  flex: 0 1 47%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
}
#content.partnership-cashback .how-works .icon-blocks .icon-block.w-100 {
  flex: 0 1 100%;
  margin-bottom: 14px;
}
#content.partnership-cashback .how-works .icon-blocks .icon-block.step-1 {
  position: relative;
}
#content.partnership-cashback .how-works .icon-blocks .icon-block.step-1::after {
  content: "";
  width: 52px;
  height: 29px;
  background-image: url(../images/st-1-arrow.svg);
  position: absolute;
  top: 35%;
  left: 100%;
  transform: translate(-40%, -50%);
}
#content.partnership-cashback .how-works .icon-blocks .icon-block.step-2 {
  flex: 0 1 45%;
  position: relative;
}
#content.partnership-cashback .how-works .icon-blocks .icon-block.step-2::after {
  content: "";
  width: 51px;
  height: 47px;
  background-image: url(../images/st-2-arrow.svg);
  position: absolute;
  right: 20%;
  bottom: -40%;
  transform: translate(25%, -50%);
}
#content.partnership-cashback .how-works .icon-blocks .icon-block .icon {
  width: 94px;
  height: 94px;
  margin-bottom: 18px;
}
#content.partnership-cashback .how-works .icon-blocks .icon-block .icon-title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 700;
  max-width: 129px;
  margin-bottom: 4px;
}
#content.partnership-cashback .how-get {
  margin-bottom: 45px;
}
#content.partnership-cashback .how-get h2 {
  margin-bottom: 0;
}
#content.partnership-cashback .how-get .step-num {
  height: 50px;
  min-width: 35px;
}
#content.partnership-cashback .how-get .get-steps .step {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 15px;
  position: relative;
}
#content.partnership-cashback .how-get .get-steps .step .num-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#content.partnership-cashback .how-get .get-steps .step .step-img {
  position: relative;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}
#content.partnership-cashback .how-get .get-steps .step .step-img a {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
}
@media screen and (min-width: 376px) {
  #content.partnership-cashback .how-get .get-steps .step.first {
    margin-bottom: 30px;
  }
}
#content.partnership-cashback .how-get .get-steps .step.first .step-description {
  min-height: 115px;
}
#content.partnership-cashback .how-get .get-steps .step.first .step-description::after {
  content: "";
  width: 58px;
  height: 58px;
  background-image: url(../images/step-arrow.svg);
  position: absolute;
  left: 50%;
  bottom: 27%;
  transform: translate(-50%, 45%);
}
@media screen and (min-width: 376px) {
  #content.partnership-cashback .how-get .get-steps .step.first .step-description::after {
    bottom: 30%;
  }
}
#content.partnership-cashback .how-get .get-steps .step.first .step-img {
  aspect-ratio: 289/50;
  max-width: 289px;
}
#content.partnership-cashback .how-get .get-steps .step.second {
  margin-bottom: 40px;
}
#content.partnership-cashback .how-get .get-steps .step.second .num-wrap {
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
#content.partnership-cashback .how-get .get-steps .step.second .with-img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#content.partnership-cashback .how-get .get-steps .step.second .descr-img {
  min-width: 88px;
}
#content.partnership-cashback .how-get .get-steps .step.second .step-img {
  aspect-ratio: 288/406;
  min-height: 406px;
}
#content.partnership-cashback .how-get .get-steps .step.third {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#content.partnership-cashback .how-get .get-steps .step.third::after {
  content: "";
  width: 58px;
  height: 58px;
  background-image: url(../images/step-arrow.svg);
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-50%, 100%) rotate(90deg);
}
#content.partnership-cashback .how-get .get-steps .step.third .num-wrap {
  flex: 0 1 43%;
}
#content.partnership-cashback .how-get .get-steps .step.third .step-img {
  flex: 0 1 43%;
  aspect-ratio: 109/112;
  box-shadow: unset;
  margin-right: 30px;
}
#content.partnership-cashback .how-get .get-steps .step.fourth {
  margin-bottom: 62px;
}
#content.partnership-cashback .how-get .get-steps .step.fourth::before {
  content: "";
  width: 58px;
  height: 58px;
  background-image: url(../images/step-arrow.svg);
  position: absolute;
  left: 0;
  bottom: -25%;
  transform: translate(-25%, 45%) scale(-1, 1) rotate(90deg);
}
#content.partnership-cashback .how-get .get-steps .step.fourth .num-wrap {
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
#content.partnership-cashback .how-get .get-steps .step.fourth .step-img {
  aspect-ratio: 338/62;
  min-height: 52px;
}
@media screen and (min-width: 375px) {
  #content.partnership-cashback .how-get .get-steps .step.fourth .step-img {
    min-height: 62px;
  }
}
#content.partnership-cashback .how-get .get-steps .step.fifth .num-wrap {
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
}
#content.partnership-cashback .how-get .get-steps .step.fifth .step-num {
  height: 50px;
  min-width: 35px;
}
#content.partnership-cashback .how-get .get-steps .step .step-btn button {
  background-color: #3B5998;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 28px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  cursor: unset;
}
#content.partnership-cashback .cashback-percent {
  margin-bottom: 63px;
}
#content.partnership-cashback .cashback-percent .title-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
#content.partnership-cashback .cashback-percent h2 {
  margin-bottom: 12px;
}
#content.partnership-cashback .cashback-percent .range {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#content.partnership-cashback .cashback-percent .range .data {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
  width: 100%;
  margin-bottom: 13px;
}
#content.partnership-cashback .cashback-percent .range .data .data-item {
  flex: 0 1 43%;
}
#content.partnership-cashback .cashback-percent .range .data .data-item .data-img {
  aspect-ratio: 1;
  max-width: 111px;
}
#content.partnership-cashback .cashback-percent .range .data .data-item .data-img.long {
  aspect-ratio: 183/53;
  max-width: unset;
}
#content.partnership-cashback .cashback-percent .range .data .data-item .data-img.time {
  aspect-ratio: 106/108;
  max-width: 106px;
}
#content.partnership-cashback .cashback-percent .range .data .data-item.percent {
  color: #3B5998;
  font-size: 2.5rem;
  line-height: 1.5rem;
  font-weight: 900;
  flex: 0 1 52%;
}
#content.partnership-cashback .cashback-percent .info-range {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 23px;
  text-align: center;
}
#content.partnership-cashback .cashback-percent .info-range span {
  color: #3B5998;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
}
#content.partnership-cashback .no-cashback h2 {
  letter-spacing: -0.81px;
  margin-bottom: 12px;
}
#content.partnership-cashback .no-cashback .block-items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  margin-bottom: 42px;
}
#content.partnership-cashback .no-cashback .block-items .item-img.first {
  aspect-ratio: 191/74;
  min-height: 86px;
}
@media screen and (min-width: 375px) {
  #content.partnership-cashback .no-cashback .block-items .item-img.first {
    min-height: 132px;
  }
}
#content.partnership-cashback .no-cashback .block-items .item-img.second {
  aspect-ratio: 99/108;
  min-height: 99px;
}
#content.partnership-cashback .no-cashback .block-items .item-img.third {
  aspect-ratio: 56/41;
  min-height: 82px;
}
#content.partnership-cashback .no-cashback .block-items .item-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content.partnership-cashback .no-cashback .block-items .item-text .title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 8px;
  max-width: 220px;
}
#content.partnership-cashback .no-cashback .block-items .item-text .description {
  padding: 0 5px;
}
#content.partnership-cashback .no-cashback .block-items .item-text.second .title {
  max-width: 180px;
}
#content.partnership-cashback .how-to-pin {
  margin-bottom: 56px;
}
#content.partnership-cashback .how-to-pin .browser-tabs {
  margin-top: 83px;
  margin-left: -47px;
  padding-bottom: 23px;
  min-height: 401px;
}
@media screen and (min-width: 375px) {
  #content.partnership-cashback .how-to-pin .browser-tabs {
    min-height: 380px;
  }
}
#content.partnership-cashback .how-to-pin .browser-tabs .tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: -4px;
  column-gap: 2px;
  height: 63px;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tabs .tab {
  padding: 8px 10px 10px 8px;
  align-self: flex-end;
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: all 0.2s ease;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tabs .tab .name {
  display: none;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tabs .tab .icon {
  aspect-ratio: 1;
  max-width: 30px;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tabs .tab.active-top {
  padding: 15px;
  align-items: center;
  column-gap: 6px;
  position: relative;
  border: 1px solid #ccc;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tabs .tab.active-top::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tabs .tab.active-top .name {
  display: block;
  font-size: 1.125rem;
  font-weight: 700;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tabs .tab.active-top .icon {
  aspect-ratio: 1;
  max-width: 46px;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tab-content {
  display: none;
  padding: 19px 14px;
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  position: relative;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tab-content.active {
  display: block;
  z-index: 2;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tab-content p {
  margin-bottom: 12px;
}
#content.partnership-cashback .how-to-pin .browser-tabs .tab-content .details {
  text-align: center;
  padding-bottom: 10px;
}
#content.partnership-cashback .how-to-pin .browser-tabs .instruction {
  counter-reset: ol-numbers;
}
#content.partnership-cashback .how-to-pin .browser-tabs .instruction li {
  position: relative;
  padding: 0;
  margin-bottom: 12px;
}
#content.partnership-cashback .how-to-pin .browser-tabs .instruction li::before {
  background-image: none;
}
#content.partnership-cashback .how-to-pin .browser-tabs .instruction li:last-of-type {
  margin-bottom: 5px;
}
#content.partnership-cashback .total-cashback {
  margin-bottom: 170px;
}
#content.partnership-cashback .total-cashback .check-items ul li {
  padding: 0 6px 0 60px;
}
#content.partnership-cashback .total-cashback .preview {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  gap: 12px;
}
#content.partnership-cashback .total-cashback .preview .prev-img {
  aspect-ratio: 49/51;
  max-width: 49px;
  flex: 0 1 17%;
}
#content.partnership-cashback .total-cashback .preview .prev-descr {
  flex: 0 1 75%;
}

#content.partnership-cashback li strong {
  font-weight: 600 !important;
}